@font-face {
    font-family: NeueHassLight;
    src: url(fonts/NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: NeueHassRoman;
    src: url(fonts/NeueHaasDisplayRoman.ttf);
}

@font-face {
    font-family: NeueHassMed;
    src: url(fonts/NeueHaasDisplayMediu.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: NeueHassLight;
}

html,body{
    height: 100%;
    width: 100%;
}

#navbar{
    display: flex;
    width : 100%;
    height : 20vh;
    background-color: #EFEAE3;
    justify-content: space-between;
    padding-left: 32px;
    padding-top: 32px;
}

#navbar_items {
    display: flex;
    list-style-type: none;
    width: 30vw;
    gap: 8px;
    margin-top: 18px;
    /* background-color: red; */
    justify-content: center;
    height: 5vh;
    align-items: center;
    
}

#navbar_items button{
    border: 1px solid rgba(128, 128, 128, 0.628);
    background-color: transparent;
    text-transform: capitalize;
    text-align: center;
    border-radius: 40px;
    padding: 10px 20px;
    font-size: 1.1rem;
}

#landing-text{
    display: flex;
    height: 60vh;
    padding: 0 10vw;
    
}

#landing_left{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-color: blue; */
    width: 50%;
}

#landing_left p{
    width: 60%;
    font-weight: 800;
    font-family: NeueHassMed;
    font-size: 1.575rem;
}
#landing_right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    /* background-color: red; */
    width: 50%;
    font-size: 10rem;
    font-weight: 800;
    font-family: NeueHassMed;
    line-height: 132px;
    letter-spacing: 0px;
    padding-right: 20px;
}

.breaker{
    width: 95%;
    margin: 40px auto;
}